* {
  margin:0 ;
  text-decoration: none;
}
body{
  background-color: rgb(8, 1, 33);
}
.container {
    width: 1500;
    margin: 0 auto;
    padding-bottom: 13px;
}
#logo {
  padding-left: 30px;
  font-size: larger;
  color: white;
  font-weight: 200;
}
#header > ul > li > a button {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  background-color:rgb(8, 1, 33) ;
  > nav {
    list-style: none;
  }
  > nav > ul > li {
    display: inline-block;
    padding: 0px 20px;
  }

}
#header > nav >ul > li > a {
    transition: all 0.3s ease 0s;
    color: white;
    border-bottom: none;
  }
#header > nav > ul > li > a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
  }
  #searchbox {
    display: block;
    color:rgb(8, 1, 33) ;
  }
/* #searchbox {
    padding: 9px 25px ;

    background-color: blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  } 
#searchbox:hover{
  background-color: blueviolet;
} */
.prodiv {
  border: 1px solid white;
  border-radius: 2% ;
  position: absolute;
  top: 130px;
  left: 130px;
  right: 130px;
  padding-top: 30px;
  margin-bottom: 100px;
}
.prodiv > div { 
  display: flex;
  /* justify-content: space-between; */
  padding: 50px 50px;
  border: 1px solid rgba(255, 255, 255, 0);
  > img {
  width: 250px;
  height: 150px;
  padding-left: 150px;
  }
}
/* .prodiv > div:hover {
  box-shadow: outset 0px -1px 20px 0px #bebebe;
  margin: 0px 20px 0px;
  
} */
.prodiv > div > div {
  display: flex;
  padding-left: 50px;
  
}
.prodiv > div > div > div > h2{
  color: white;
  
}
.prodiv > div > div > div > a{
  color: white;
  
}
#khat1 {
  padding: 0px 30px;
  color: white;
}

#adad1 {
  color: white;
} 

#Contactdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.578);
  margin: 50px 130px 10px;
  > a {
    padding: 0px 10px;
    color: white;
  }
  > a:hover {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
  }
}
